@charset "UTF-8";


/* ë©”ì¸ */
#contents #main{
    float: left;
    width: 1000px;
}

#contents #main #main-head{
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #a6a6a6;
}

#contents #main #main-head h3{
    float: left;
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}

#contents #main #main-head ul{
    float: right;
}

#contents #main #main-head ul>li{
    margin: 23px 0px 0px 0px;
    font-size: 15px;
}

#contents #main #main-head ul>li:after{
    content: " > ";
}

#contents #main #main-head ul>li.last:after{
    content: "";
}